# Python Specific
*/*.so
*/build/
*/*.py[cod]
__pycache__

# Coverage
.coverage
htmlcov

# Docs
docs/_build
docs/_static
docs/_templates

dist/

# Mr Developer
*.sublime*
.idea

# Project specific
tsne/bh_sne.cpp
